In [ ]:
# 8.给定两个数据框:
# data1=pd.DataFrame({'score’:['a','b','c',np.nan] ,'number’: [1,3,np.nan,7] })
# data2pd.DataFrame('score’:''a''b''c''d','number’: 「2,3,8,10})
# 利用pandas中的函数实现两个数据框沿着横轴进行列的拼接。

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data1=pd.DataFrame({'score':['a','b','c',np.nan]                                                                    })
data2=pd.DataFrame({'score':['a','b','c','d'],'number': [2,3,8,10]})
# concat 拼接数据
data = pd.concat([data1,data2],axis=1)
data

  score score  number
0     a     a       2
1     b     b       3
2     c     c       8
3   NaN     d      10